html,
body {
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/fondo.png);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

nav a:hover {
    background-color:  #9b834e !important;
    border-radius: 10%;
    font-size: 110%; 
}


.container-principal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 40px;
}


.container-principal img {
    height: 500px;
    width: 800px;
}

.container-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -35%;
    margin-bottom: 20px;
}

.container-secundario img:hover {
    transform: scale(1.05);
}


.texto-hamburguesa {
    color: orange;
}

.img-burger-sin-fondo {
    text-align: end;
    align-content: start;
    height: 20%;
    width: 20%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 5%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 50%;
}

.card {
    position:relative;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 30%;
    max-height: auto;
    margin-left: 35%;
    margin-bottom: 5%;
}

.card:hover {
    transform: scale(1.05);
}

.descripcion-final {
    padding-bottom: 5%;
}


@media (max-width: 768px) {
    .container-principal img {
        width: 100%;
        height: auto;
    }

    .video-container iframe {
        width: 100%;
        height: 100%;
    }
}