html,
body {
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/fondo.png);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

nav a:hover {
    background-color: #9b834e;
    font-size: 1.2em;
}


.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-form {
    margin: 10% auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.container-form h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
}

textarea {
    resize: vertical;
}

.button-cv {
    background-color: #cf0d0d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.modal-header,
.btn {
    background-color: green;
}
