body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(../imagenes/vegetariano/fondo-2.jpg);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #d3c6c6;
    background-attachment: fixed;
}

nav a:hover {
    background-color: #9b834e !important;
    border-radius: 10%;

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.button-vegano {
    background-color: #3cca48;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-vegano:hover {
    background-color: #2e9740;
}

.card {
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3cca48;
    color: rgb(0, 0, 0);
}

.card-2 {
    margin-top: 19%;
}

.burguer-1 {
    height: 285px;
    width: 300px;
    margin-left: 50px;
}

.burguer-2 {
    height: 245px;
    width: 250px;
    margin-left: 50px;
}

.burguer-3 {
    margin-top: 10px
}